html {
    margin: 0px;
}


body {
    margin: 0px;
    background-color: #F4F0E7;
    color: #333333;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}

nav {
    width: 75%;
    height: 50px;
    margin-top: 3%;
    margin-left: 12.5%;
}

.navbar {
    margin-bottom: 4.5%;
}


.nav-item, .nav-item:visited {
    text-decoration: none;
    color: #777777;
    
}

.home {
    font-family: 'Roboto Mono', sans-serif;
    color: #fb7639;
    text-decoration: none;

}


.home:visited {
    color: #fb7639;
    text-decoration: none;
}

.menu a::before {
    position: absolute;
    overflow: hidden;
    max-width: 0;
    color: #fb7639;
    content: attr(data-hover);
    transition-property: max-width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
}

.menu a:hover::before,
.menu a:focus::before {
	max-width: 100%;
}

.menu a:visited::after {
	max-width: 0%;
}

.menu {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
    margin-left: 40px;
    float: right;
}    

.nav-item {
    margin-left: 30px;
}

nav {
    list-style-type: none;
}

.content {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;

}

img {
    margin-right: 10%;
}
.about-text {
    font-family: 'Roboto Mono', monospace;
    color: #333333;
    height: 100%;
    margin-left: 7.5%;
    top: -15px;
    margin-top: -10px;
}

h5 {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.75;
    width: 85%;
}

h6 {
    font-family: 'Roboto Mono', sans-serif;
    margin-top: 5px;
    color: #777777;
    height: 14px;
}



.caption {
    float: left;
    height: 14px;
    margin-top: 5px;
    font-size: 16px;
}
.caption-color {
    color: #fb7639;
    text-decoration: none;
}

a,.caption-color:visited {
    text-decoration: none;
    color: #fb7639;
    
}

.contact {
    color: #fb7639;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
}

.copy {
    font-size: 12px;
    margin: 0;
    padding: 0;
}


.contact,ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;

}

.copylink:hover {
    cursor: pointer;
}

.links {
    margin-top: -18px;
}
.caption-color:hover {
    cursor: pointer;
}

.credit:hover {
    pointer: cursor;
}

.about-text {
    height: 500px;
    overflow-y: scroll;

    font-size: 16px;
}

.about-text::-webkit-scrollbar {
    width: 5px;
}

.about-text::-webkit-scrollbar-thumb {
    background: #fb7639;
}

.about-text::-webkit-scrollbar-track {
    background: rgb(212, 208, 199);
}

#divider {
    background-color: #fb7639;
    width: 70%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
}
